.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 1rem 2rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    animation-name: fade-in;
    animation-duration: 1s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
    opacity: 0;
    position: fixed;
    width: 80%;
    top: 0;
    z-index: 1000;
}

.navbar-brand {
    color: #fff; /* White text */
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    margin-left: 2rem;
}

.navbar-links a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.navbar-links a:hover {
    color: #00bcd4;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
