.projects-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    animation-name: slideUp;
    animation-duration: 1s;
    justify-content: center;
    opacity: 0;
    animation-fill-mode: forwards;
    animation-delay: 3s;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.projects-section h2 {
    font-family: 'nameFont', sans-serif;
    font-size: 3rem;
    margin-bottom: 2rem;
}

.project-screenshot {
    width: 100%;
    height: auto;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.project-info {
    padding: 1rem;
    text-align: center;
}

.project-info h3 {
    margin: 0.5rem 0;
}

.project-info p {
    font-size: 1rem;
    line-height: 1.5;
    color: lightgray;
}

.project-links {
    margin-top: 1rem;
}

.project-links a {
    margin: 0 1rem;
    text-decoration: none;
    color: #007bff;
    transition: color 0.3s;
}

.project-links a:hover {
    color: #0056b3;
}

@keyframes slideUp {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0%);
        opacity: 1;
    }
}